body
{
    margin: 0;
    
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header
{
    position: relative;
    color: white;
    width: 100%;
    height: 8%;
    display: flex;
    background-color: black;
}

.inside
{
    height: 100%;
    font-size: 1.5em;
    margin: 0.9%;
}

#login
{
    position: absolute;
    right:0%;
}
a 
{
    text-decoration: none;
    color: white;
}

a:hover
{
   color:orange;
}

iframe
{
    position: absolute;
    top: 34%;
    left: 14%;
    width: 40%;
    height: 50%;
    float: left;
}
h1
{
    font-size: 2.5em;
    position: absolute;
    top: 14%;
    left: 4%;
}
p
{
    font-size: 1.3em;
    position: absolute;
    top: 38%;
    right: 10%;
}
#emails
{
    font-size: 2.5em;
    position: absolute;
    top: 104%;
    left: 4%;
}
ul
{
    font-size: 1.1em;
    position: absolute;
    top: 128%;
    left: 6%;
}
img
{
    margin: 10px;
    position: absolute;
    right: 2%;
    top: 116%;
    float: left;
}
